.form_wrapper{
  display: block;
  padding: 10px;
  justify-content: center;
  height: fit-content;
}

.form_heading {
  width: auto;
  height: auto;
  padding: 20px;
  position: relative;
  clear: both;
	padding-top: 20px;
}

.heading_space {
  width: 45%;
  float: left;
  padding-top: 15px;
	padding-bottom: 25px;
	box-sizing: border-box;
	color: #cfd2e4;
	font-size: 0.9em;
	text-align: center;
	cursor: pointer;
	transition: 100ms ease;
	text-align: center;
}

.heading_space:not(.current):hover {
  color: #bec2db
}

.current {
  color: #000;
  border-bottom: 3px solid #ff9900;
  cursor: default;
  font-weight: bold;
  box-sizing: border-box;
}

.form {
    flex-flow: wrap;
    position: relative;
    margin: auto 10px;
    width: fit-content;
    max-width: 800px;
    padding: auto 460px;
    justify-content: center;
  }

  .form_exps {
    position: relative;
    width: fit-content;
    align-items: center;
    margin-left: 25%;
    margin-top: -150px;
  }

.form-input{
  display: grid;
  position: relative;
  margin: 25px 20px -5px;
  font-weight: bold;
  font-size: 1.15rem;
}

.form-input2{
  display: grid;
  position: relative;
  margin: 30px;
  font-weight: bold;
  font-size: 1.15rem;
}

.form-input p {
  margin-left: 20px;
}

.form-input2 p {
  margin: 20px 0;
}

.buttons {
  justify-content: space-between;
  display: flex;
}

#submit-button {
  width: 100px;
  margin: 20px;
  height: 40px;
  background-color: #ff9900;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  transition: all ease-out .3s;
  right: 0;
}

#submit-button:hover {
  color: #000;
  background-color: #f8b44e;
}

.left{
  flex: 1;
  position: relative;
}

.right{
  flex: 2;
  position: relative;
}

.content{
  display: none;
}

.active-content {
  display: inline-flex;
}

.text_area3{
  width: 280px;
}

.edit_container{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 600px;
}

#submit-button2{
  width: 100%;
  margin: 60px 0 40px 0;
  height: 40px;
  background-color: #ff9900;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  transition: all ease-out .3s;
}

/* ......................Modal styling........................ */
.modalBg{
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 55;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .modalTitle{
  display: inline-block;
  text-align: center;
  margin-top: 100px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalBody{
  flex: 50%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  
}

.modalFooter{
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalFooter button{
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #ff9900;
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

/* ........................Saved & Published Wrapper.................... */
.info_wrapper{
  display: grid;
  width: 100%;
  height: 500px;
  position: relative;
  margin: -10px 0 20px 0;
  justify-content: center;
}

.saved{
  width: 600px;
  height: fit-content;
  margin: 10px;
  box-shadow: 7px 22px 48px -4px rgba(0,0,0,0.54);
  -webkit-box-shadow: 7px 22px 48px -4px rgba(0,0,0,0.54);
  -moz-box-shadow: 7px 22px 48px -4px rgba(0,0,0,0.54);
  border-radius: 10px;
  padding: 10px;
}

.saved h3, .published h3{
  font-size: 1.3rem;
  width: 100%;
  margin-top: 10px;
}

.saved ul, .published ul{
  margin-top: 50px;
}

.saved ul li, .published ul li{
  list-style: none;
  font-weight: bold;
  margin: 20px 30px;
}

.saved ul li span, .published ul li span{
  font-weight: normal;
  border: #000 1px solid;
  border-radius: 5px;
  padding: 0 3px;
  background-color: rgb(218, 216, 216);
  margin-left: 5px;
}

.published{
  width: 600px;
  margin: 20px 10px;
  box-shadow: -14px 22px 48px -4px rgba(0,0,0,0.54);
  -webkit-box-shadow: -14px 22px 48px -4px rgba(0,0,0,0.54);
  -moz-box-shadow: -14px 22px 48px -4px rgba(0,0,0,0.54);
  border-radius: 10px;
  padding: 10px;
}

.publish_save{
  width: 100px;
  height: 30px;
  margin: 30px 80px;
}

.exp_form_header{
  box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ff9900 5%, #fab444 100%);
	background-color:#ff9900;
	border-radius:6px;
	border:1px solid #dea44d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 1.3rem;
	font-weight:bold;
	padding:6px 24px;
  text-align: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
  width: 200px;
  margin: 150px 250px
}

.exp_form_header:hover {
  background:linear-gradient(to bottom, #fab444 5%, #ff9900 100%);
	background-color:#fab444;
}

.exp_form_header:active {
  position:relative;
	top:1px;
}