.cap2{
    top: 20px;
    margin: auto 20px;
    position: relative;
    display: flex;
    background-color: #fff;
    width: 500px;
    height: 550px;
    justify-content: center;
    box-shadow: 0px 0px 36px -5px rgba(0, 0, 0, 0.2);
    /* overflow: hidden; */
}

.form_spaceEdit{
    padding: 10px;
    display: table-column;
    position: relative;
    top: 150px;
}


.form_spaceEdit p {
    display: grid;
    position: relative;
    margin: 25px 0px -5px;
    font-weight: bold;
    font-size: 1.5rem;
}

.selectField {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin: 20px;
    padding: 5px;
}

.form_spaceEdit button {
    position: relative;
    display: grid;
    width: 100%;
    margin-top: 100px;
    background-color: #ff9900;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: -5px;
    color: #fff;
    transition: all ease-out .3s;
}

.form_spaceEdit button:hover {
    color: #000;
    background-color: #f8b44e;
    
}