.widgetContainer{
    display: grid;
    flex: 1;
    height: 650px;
}

.widgetSm{
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 50px 20px 10px;
    background: #fefefe;
    border-radius: 5px;
    height: 260px;
    overflow: hidden;
}

.widgetSmTitle{
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    padding-left: 20px;
}