.widgetLg{
    flex: 1;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 0 20px;
    background: #fefefe;
    border-radius: 5px;
    height: 340px;
    overflow: hidden;
}

.widgetLgTitle{
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
}

.subHeading{
    text-transform: uppercase;
    font-size: .8rem;
    margin-top: 10px;
    color:rgb(153, 149, 149);
    font-weight: bold;
}

.counterContainer{
    width: 100%;
    text-align: center;
}

.counter{
    font-size: 4.7rem;
    color: #ff9900;
    width: 100%;
    font-weight: bold;
    margin-top: -10px;
}

.divider{
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #bcbcbc;
}
